@font-face {
    font-family: 'logos';
    src: url('fonts/logos.eot?h4pf08');
    src: url('fonts/logos.eot?h4pf08#iefix') format('embedded-opentype'), url('fonts/logos.ttf?h4pf08') format('truetype'), url('fonts/logos.woff?h4pf08') format('woff'), url('fonts/logos.svg?h4pf08#logos') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class^="logo"],
[class*=" logo"] [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'logos' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo:before {
    content: "\e900";
}

.icon-logo:before {
    content: "\e901";
}