<section id="menu"></section>
<section id="splash" class="block horizontal-fluid bg-secondary align-items-center justify-content-center">
    <div class="col-8 md-12 sm-12 txt-center txt-light">
        <i class="icon-logo"></i>
    </div>
</section>
<section class="hero bg-light padding-none padding-top-one sm-padding-none">
    <div class="block col-8 md-12 sm-12">
        <h1 class="title-one txt-center margin-bottom-one" style="font-weight: 300;">Nos offres du moment</h1>
    </div>
    <div class="block horizontal-fluid">
        <div class="slider horizontal-fluid" style="height: 80vh;">
            <div class="slider-controll"></div>
        </div>
    </div>
</section>
<section class="hero bg-light padding-top-one sm-padding-horizontal-none">
    <div class="block col-8">
        <h1 class="title-one txt-center margin-bottom-four" style="font-weight: 300;">Voyages a venir</h1>
    </div>
    <div class="block col-10 padding-none justify-content-center" name="cards"></div>
</section>
<section class="hero bg-bold-light padding-vertical-one sm-padding-horizontal-none">
    <div class="block col-10">
        <h1 class="title-one txt-center margin-bottom-four" style="font-weight: 300;">Pourquoi Pack'n'go?</h1>
        <h1 class="title-five txt-center margin-bottom-one" style="font-weight: 300;">
            pack'n'go vous démontre la convivialité, l'adaptabilité et vous fournit des solutions rapides et efficaces en fonction de vos besoins, vos attentes et vos contraintes des. on vous accompagne dans vos Voyages et on vous propose des offres complètes au
            Maroc ou a l'étranger.
        </h1>
    </div>
    <div class="block col-10 padding-none">
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-chart txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            voyages sur mesure
                        </h1>
                        <p style="font-size: 14px;">
                            Réalisez votre voyage selon vos conditions, votre standing, votre planning...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-globe txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            Large choix de destinations
                        </h1>
                        <p style="font-size: 14px;">
                            Avec nous , Vous trouverez votre destination idéale parmi des centaines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-badge txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            Qualité du service
                        </h1>
                        <p style="font-size: 14px;">
                            Nos agents seront à votre écoute pour comprendre vos besoins et contraintes et vous apporter des solutions qui répondent à votre politique de voyage.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-help txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            Assistance 24/7
                        </h1>
                        <p style="font-size: 14px;">
                            Profitez d'une assistance disponible 24/7 pour répondre à vos question et gérer les imprévus de dernière minute.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-id txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            Le conseil avant tout
                        </h1>
                        <p style="font-size: 14px;">
                            Votre agence de voyages est la première responsable de la bonne exécution des services que vous lui commandez, c'est pourquoi il le fait!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 md-6 sm-12">
            <div class="col-12" style="height: 100%;">
                <div class="bg-light" style="box-shadow: 0 0 14px #1d1d1d; height: 100%;">
                    <div class="padding-vertical-five txt-center">
                        <i class="XO-piggy-bank txt-bold" style="font-size: 4rem;"></i>
                    </div>
                    <div class="padding-six txt-center">
                        <h1 class="margin-bottom-six" style="font-size: 18px; font-weight: 500;">
                            Profitez de tarifs spéciaux
                        </h1>
                        <p style="font-size: 14px;">
                            On vous assure une réactivité à toutes vos demandes tout en vous faisant bénéficier des meilleurs prix
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero bg-light padding-vertical-one sm-padding-horizontal-none">
    <h1 class="title-one txt-center margin-bottom-four" style="font-weight: 300;">
        FAQs
    </h1>
    <div class="col-10 md-12 sm-12 margin-auto">
        <div class="accordion">
            <button style="cursor: pointer;" class="accordion-button">
				Qui sommes nous?
			</button>
            <div class="accordion-panel">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            </div>
        </div>
        <div class="accordion">
            <button style="cursor: pointer;" class="accordion-button">
				Pourquoi Pack'n'go?
			</button>
            <div class="accordion-panel">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            </div>
        </div>
        <div class="accordion">
            <button style="cursor: pointer;" class="accordion-button">
				Qui contacter en cas de besoin?
			</button>
            <div class="accordion-panel">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            </div>
        </div>
        <div class="accordion">
            <button style="cursor: pointer;" class="accordion-button">
				Puis je avoir un pseudo déjà pris?
			</button>
            <div class="accordion-panel">
                Vous pouvez utiliser le pseudo que vous souhaiter, si pris, rajouter un chiffre ou spécialisez le.
            </div>
        </div>
    </div>
</section>
<section class="hero bg-dark sm-padding-horizontal-none">
    <div class="block justify-content-center collapse padding-horizontal-six">
        <div class="col-12">
            <h5 class="sm-title-four txt-light txt-center head">
                Nous avons à cœur d'offrir le meilleur service possible à nos clients.
            </h5>
        </div>
    </div>
</section>
<section class="hero bg-light padding-vertical-one sm-padding-horizontal-none">
    <div class="block col-8">
        <h1 class="title-one txt-center margin-bottom-four" style="font-weight: 300;">Notre But</h1>
        <h1 class="title-five txt-center margin-bottom-one" style="font-weight: 300;">
            Nous recherchons toujours le meilleur rapport qualité-prix pour vous permettre d’accéder à la réalisation de vos rêves, du plus petit au plus grand,dans les meilleures conditions de confort et de prix.
        </h1>
    </div>
    <div class="block col-10">
        <div class="col-3 md-6 sm-6 txt-center">
            <div class="margin-bottom-six txt-bold" style="font-size: 3.5rem; font-weight: 300;">200</div>
            <div class="title-six txt-dark" style="font-weight: 350;">DESTINATION</div>
        </div>
        <div class="col-3 md-6 sm-6 txt-center">
            <div class="margin-bottom-six txt-bold" style="font-size: 3.5rem; font-weight: 300;">30</div>
            <div class="title-six txt-dark" style="font-weight: 350;">HOTELS</div>
        </div>
        <div class="col-3 md-6 sm-6 txt-center">
            <div class="margin-bottom-six txt-bold" style="font-size: 3.5rem; font-weight: 300;">1235</div>
            <div class="title-six txt-dark" style="font-weight: 350;">VOYAGEURS</div>
        </div>
        <div class="col-3 md-6 sm-6 txt-center">
            <div class="margin-bottom-six txt-bold" style="font-size: 3.5rem; font-weight: 300;">95 %</div>
            <div class="title-six txt-dark" style="font-weight: 350;">S'ATISFACTIONS</div>
        </div>
    </div>
</section>
<section class="hero padding-top-one sm-padding-horizontal-none">
    <div class="block col-8">
        <h1 class="title-one txt-center margin-bottom-five" style="font-weight: 300;">S'inscrire</h1>
        <h1 class="title-five txt-center margin-bottom-three" style="font-weight: 300;">
            Soyez les premiers a recevoir nos offres
        </h1>
    </div>
    <div class="block col-5 md-12 sm-12">
        <div class="col">
            <input type="text" class="formbox formbox-lg horizontal-fluid border-bold" style="background-color: unset;" placeholder="Votre Adresse Email" />
        </div>
        <div class="col-max">
            <button class="btn btn-lg btn-bold">
				Envoyer
			</button>
        </div>
    </div>
</section>
<section class="hero bg-bold-dark sm-padding-horizontal-none">
    <div class="block txt-light justify-content-center">
        <div class="col-4 md-12 sm-12">
            <div class="col-12">
                <div class="title-six padding-left-six">Informations de contact</div>
            </div>
            <div class="col-12">
                <span class="icon icon-blank">
					<i class="XO-map-marker"></i>
				</span>
                <div class="tag tag-sm tag-blank">Lotissement Communal, 1050, sidi Maarouf Casablanca</div>
            </div>
            <div class="col-12">
                <span class="icon icon-blank">
					<i class="XO-mail"></i>
				</span>
                <div class="tag tag-sm tag-blank">contact.packngo@gmail.com</div>
            </div>
            <div class="col-12">
                <span class="icon icon-blank">
					<i class="XO-landline"></i>
				</span>
                <div class="tag tag-sm tag-blank">067-495-3685</div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5 md-12 sm-12">
            <div class="col-12">
                <i class="logo" style="font-size: 1.4rem;"></i>
            </div>
            <div class="col-12">
                Depuis 2010 l'agence Pack'n'Go offre des voyages en combinant son énergie, ses connaissances et son enthousiasme.
            </div>
        </div>
        <div class="col-12 txt-center margin-vertical-five">
            <a class="icon icon-lg icon-rounded icon-bold margin-horizontal-four">
                <i class="XO-facebook"></i>
            </a>
            <a class="icon icon-lg icon-rounded icon-bold margin-horizontal-four">
                <i class="XO-twitter"></i>
            </a>
            <a class="icon icon-lg icon-rounded icon-bold margin-horizontal-four">
                <i class="XO-instagram"></i>
            </a>
            <a class="icon icon-lg icon-rounded icon-bold margin-horizontal-four">
                <i class="XO-youtube"></i>
            </a>
        </div>
        <hr class="horizontal-fluid" />
        <div class="col-max" style="font-size: 0.6rem;">
            copyright &copy; 2020
        </div>
    </div>
</section>