<link rel="stylesheet" href="static/styles/logo/style.css" />
<nav class="block horizontal-fluid justify-content-center collapse bg-bold">
    <div class="col-9 lg-12 md-12 sm-12">
        <div class="nav nav-bold">
            <div class="nav-container">
                <a data-url="/" class="nav-brand menu-item">
                    <i class="logo" style="font-size: 2rem; pointer-events: none;"></i>
                </a>
                <a class="nav-trigger">
                    <span></span>
                </a>
                <div class="nav-menu">
                    <a data-url="/auth/signup/" class="menu-item">
						Inscription
					</a>
                    <a data-url="/auth/signin/" class="menu-item">
						Authentification
					</a>
                </div>
            </div>
        </div>
    </div>
</nav>