<link rel="stylesheet" href="static/styles/logo/style.css" />
<div class="col-2 lg-3 md-4 sm-8 position-fixed position-top-left bg-bold vertical-fluid padding-none" style="z-index: 100;">
    <ul class="list">
        <li data-url="/" class="list-item atv cnt">
            <a class="txt-center txt-light margin-vertical-six">
                <i class="logo" style="font-size: 2rem;"></i>
            </a>
        </li>
        <li data-url="/profile/" class="list-item">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-id" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Profile</span>
                </div>
            </a>
        </li>
        <li data-url="/users/" class="list-item adn sdn">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-persons" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Utilisateurs</span>
                </div>
            </a>
        </li>
        <li data-url="/users/new/" class="list-item adn sdn">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-persons-plus" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Nouveau Utilisateur</span>
                </div>
            </a>
        </li>
        <li data-url="/trips/" class="list-item">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-trip" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Voyages</span>
                </div>
            </a>
        </li>
        <li data-url="/trips/new/" class="list-item adn">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-trip-plus" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Nouveau Voyage</span>
                </div>
            </a>
        </li>
        <li data-url="/reservations/" class="list-item">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-document" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Reservations</span>
                </div>
            </a>
        </li>
        <li data-url="/auth/signout/" class="list-item cnt">
            <a class="txt-light">
                <div class="block align-items-center">
                    <i class="XO-sign-out" style="font-size: 1.5rem;"></i>
                    <span class="tag tag-md tag-blank">Deconnexion</span>
                </div>
            </a>
        </li>
    </ul>
</div>