@font-face {
  font-family: 'XO';
  src:  url('fonts/XO.eot?mh392');
  src:  url('fonts/XO.eot?mh392#iefix') format('embedded-opentype'),
    url('fonts/XO.ttf?mh392') format('truetype'),
    url('fonts/XO.woff?mh392') format('woff'),
    url('fonts/XO.svg?mh392#XO') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="XO-"], [class*=" XO-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'XO' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.XO-addons:before {
  content: "\e9d6";
}
.XO-addons-plus:before {
  content: "\e9d7";
}
.XO-addons-times:before {
  content: "\e9d8";
}
.XO-luggage:before {
  content: "\e9d9";
}
.XO-luggage-plus:before {
  content: "\e9da";
}
.XO-luggage-times:before {
  content: "\e9db";
}
.XO-till:before {
  content: "\e9dc";
}
.XO-strikethrought:before {
  content: "\e9d5";
}
.XO-battery:before {
  content: "\e97d";
}
.XO-clock:before {
  content: "\e9cc";
}
.XO-down-arrow:before {
  content: "\e9cd";
}
.XO-left-arrow:before {
  content: "\e9ce";
}
.XO-right-arrow:before {
  content: "\e9cf";
}
.XO-timer:before {
  content: "\e9d0";
}
.XO-up-arrow:before {
  content: "\e9d1";
}
.XO-memory-card:before {
  content: "\e9d2";
}
.XO-sun:before {
  content: "\e9d3";
}
.XO-microphone-mute:before {
  content: "\e9d4";
}
.XO-more:before {
  content: "\e9ca";
}
.XO-theater-screen:before {
  content: "\e9cb";
}
.XO-full-screen:before {
  content: "\e9c6";
}
.XO-ipad:before {
  content: "\e9c7";
}
.XO-laptop:before {
  content: "\e9c8";
}
.XO-screen:before {
  content: "\e9c9";
}
.XO-microphone:before {
  content: "\e9c5";
}
.XO-load:before {
  content: "\e9c4";
}
.XO-arrow-down:before {
  content: "\e900";
}
.XO-arrow-left:before {
  content: "\e901";
}
.XO-arrow-right:before {
  content: "\e902";
}
.XO-arrow-up:before {
  content: "\e903";
}
.XO-badge:before {
  content: "\e904";
}
.XO-ban:before {
  content: "\e905";
}
.XO-bell:before {
  content: "\e906";
}
.XO-bell-plus:before {
  content: "\e907";
}
.XO-bell-times:before {
  content: "\e908";
}
.XO-bold:before {
  content: "\e909";
}
.XO-box:before {
  content: "\e90a";
}
.XO-boxes:before {
  content: "\e90b";
}
.XO-boxes-plus:before {
  content: "\e90c";
}
.XO-boxes-times:before {
  content: "\e90d";
}
.XO-box-plus:before {
  content: "\e90e";
}
.XO-box-times:before {
  content: "\e90f";
}
.XO-briefcase:before {
  content: "\e910";
}
.XO-briefcase-plus:before {
  content: "\e911";
}
.XO-briefcase-times:before {
  content: "\e912";
}
.XO-calendar:before {
  content: "\e913";
}
.XO-calendar-plus:before {
  content: "\e914";
}
.XO-calendar-times:before {
  content: "\e915";
}
.XO-camera:before {
  content: "\e916";
}
.XO-camera-plus:before {
  content: "\e917";
}
.XO-camera-times:before {
  content: "\e918";
}
.XO-car:before {
  content: "\e919";
}
.XO-car-plus:before {
  content: "\e91a";
}
.XO-car-rent:before {
  content: "\e91b";
}
.XO-cart:before {
  content: "\e91c";
}
.XO-car-times:before {
  content: "\e91d";
}
.XO-cart-plus:before {
  content: "\e91e";
}
.XO-cart-times:before {
  content: "\e91f";
}
.XO-case:before {
  content: "\e920";
}
.XO-case-plus:before {
  content: "\e921";
}
.XO-case-times:before {
  content: "\e922";
}
.XO-chart:before {
  content: "\e923";
}
.XO-chart-pie:before {
  content: "\e924";
}
.XO-check:before {
  content: "\e925";
}
.XO-checkbox:before {
  content: "\e926";
}
.XO-cog:before {
  content: "\e927";
}
.XO-cogs:before {
  content: "\e928";
}
.XO-cube:before {
  content: "\e929";
}
.XO-cube-plus:before {
  content: "\e92a";
}
.XO-cube-times:before {
  content: "\e92b";
}
.XO-document:before {
  content: "\e92c";
}
.XO-document-plus:before {
  content: "\e92d";
}
.XO-document-times:before {
  content: "\e92e";
}
.XO-dolly:before {
  content: "\e92f";
}
.XO-download:before {
  content: "\e930";
}
.XO-drop:before {
  content: "\e931";
}
.XO-drop-plus:before {
  content: "\e932";
}
.XO-drop-times:before {
  content: "\e933";
}
.XO-edit:before {
  content: "\e934";
}
.XO-eye:before {
  content: "\e935";
}
.XO-facebook:before {
  content: "\e936";
}
.XO-factory:before {
  content: "\e937";
}
.XO-factory-plus:before {
  content: "\e938";
}
.XO-factory-times:before {
  content: "\e939";
}
.XO-figure:before {
  content: "\e93a";
}
.XO-figure-plus:before {
  content: "\e93b";
}
.XO-figure-times:before {
  content: "\e93c";
}
.XO-folder:before {
  content: "\e93d";
}
.XO-folder-open:before {
  content: "\e93e";
}
.XO-folder-plus:before {
  content: "\e93f";
}
.XO-folder-times:before {
  content: "\e940";
}
.XO-font:before {
  content: "\e941";
}
.XO-fuel:before {
  content: "\e942";
}
.XO-fuel-plus:before {
  content: "\e943";
}
.XO-fuel-times:before {
  content: "\e944";
}
.XO-gallery:before {
  content: "\e945";
}
.XO-gallery-plus:before {
  content: "\e946";
}
.XO-gallery-times:before {
  content: "\e947";
}
.XO-gearbox:before {
  content: "\e948";
}
.XO-glasses:before {
  content: "\e949";
}
.XO-globe:before {
  content: "\e94a";
}
.XO-globe-plus:before {
  content: "\e94b";
}
.XO-globe-times:before {
  content: "\e94c";
}
.XO-globe-trip:before {
  content: "\e94d";
}
.XO-globe-trip-plus:before {
  content: "\e94e";
}
.XO-globe-trip-times:before {
  content: "\e94f";
}
.XO-gmail:before {
  content: "\e950";
}
.XO-google:before {
  content: "\e951";
}
.XO-grid:before {
  content: "\e952";
}
.XO-grid-large:before {
  content: "\e953";
}
.XO-heart:before {
  content: "\e954";
}
.XO-heart-lock:before {
  content: "\e955";
}
.XO-heart-lock-open:before {
  content: "\e956";
}
.XO-heart-plus:before {
  content: "\e957";
}
.XO-heart-times:before {
  content: "\e958";
}
.XO-helmet:before {
  content: "\e959";
}
.XO-helmet-plus:before {
  content: "\e95a";
}
.XO-helmet-times:before {
  content: "\e95b";
}
.XO-help:before {
  content: "\e95c";
}
.XO-home:before {
  content: "\e95d";
}
.XO-id:before {
  content: "\e95e";
}
.XO-id-plus:before {
  content: "\e95f";
}
.XO-id-times:before {
  content: "\e960";
}
.XO-image:before {
  content: "\e961";
}
.XO-image-plus:before {
  content: "\e962";
}
.XO-image-times:before {
  content: "\e963";
}
.XO-info:before {
  content: "\e964";
}
.XO-instagram:before {
  content: "\e965";
}
.XO-italic:before {
  content: "\e966";
}
.XO-key:before {
  content: "\e967";
}
.XO-lamp:before {
  content: "\e968";
}
.XO-lamp-plus:before {
  content: "\e969";
}
.XO-lamp-times:before {
  content: "\e96a";
}
.XO-landline:before {
  content: "\e96b";
}
.XO-landline-plus:before {
  content: "\e96c";
}
.XO-landline-times:before {
  content: "\e96d";
}
.XO-link:before {
  content: "\e96e";
}
.XO-linkedin:before {
  content: "\e96f";
}
.XO-list:before {
  content: "\e970";
}
.XO-list-plus:before {
  content: "\e971";
}
.XO-list-times:before {
  content: "\e972";
}
.XO-lock:before {
  content: "\e973";
}
.XO-lock-open:before {
  content: "\e974";
}
.XO-lock-plus:before {
  content: "\e975";
}
.XO-lock-times:before {
  content: "\e976";
}
.XO-loop:before {
  content: "\e977";
}
.XO-mail:before {
  content: "\e978";
}
.XO-map-marker:before {
  content: "\e979";
}
.XO-message:before {
  content: "\e97a";
}
.XO-message-plus:before {
  content: "\e97b";
}
.XO-message-times:before {
  content: "\e97c";
}
.XO-minus:before {
  content: "\e97e";
}
.XO-olist:before {
  content: "\e97f";
}
.XO-paper:before {
  content: "\e980";
}
.XO-paper-clip:before {
  content: "\e981";
}
.XO-paper-plane:before {
  content: "\e982";
}
.XO-paper-plus:before {
  content: "\e983";
}
.XO-paper-stapler:before {
  content: "\e984";
}
.XO-paper-times:before {
  content: "\e985";
}
.XO-pause:before {
  content: "\e986";
}
.XO-pen:before {
  content: "\e987";
}
.XO-person:before {
  content: "\e988";
}
.XO-person-plus:before {
  content: "\e989";
}
.XO-persons:before {
  content: "\e98a";
}
.XO-persons-plus:before {
  content: "\e98b";
}
.XO-persons-times:before {
  content: "\e98c";
}
.XO-person-times:before {
  content: "\e98d";
}
.XO-phone:before {
  content: "\e98e";
}
.XO-piggy-bank:before {
  content: "\e98f";
}
.XO-pin:before {
  content: "\e990";
}
.XO-plane:before {
  content: "\e991";
}
.XO-play:before {
  content: "\e992";
}
.XO-plus:before {
  content: "\e993";
}
.XO-print:before {
  content: "\e994";
}
.XO-private:before {
  content: "\e995";
}
.XO-question:before {
  content: "\e996";
}
.XO-recharge:before {
  content: "\e997";
}
.XO-recorder:before {
  content: "\e998";
}
.XO-recorder-plus:before {
  content: "\e999";
}
.XO-recorder-times:before {
  content: "\e99a";
}
.XO-save:before {
  content: "\e99b";
}
.XO-share:before {
  content: "\e99c";
}
.XO-shopping-bag:before {
  content: "\e99d";
}
.XO-shopping-bag-plus:before {
  content: "\e99e";
}
.XO-shopping-bag-times:before {
  content: "\e99f";
}
.XO-sign-in:before {
  content: "\e9a0";
}
.XO-sign-out:before {
  content: "\e9a1";
}
.XO-smart-landline:before {
  content: "\e9a2";
}
.XO-smartphone:before {
  content: "\e9a3";
}
.XO-snow-flake:before {
  content: "\e9a4";
}
.XO-star:before {
  content: "\e9a5";
}
.XO-star-plus:before {
  content: "\e9a6";
}
.XO-star-times:before {
  content: "\e9a7";
}
.XO-tag:before {
  content: "\e9a8";
}
.XO-tag-plus:before {
  content: "\e9a9";
}
.XO-tag-times:before {
  content: "\e9aa";
}
.XO-text-center:before {
  content: "\e9ab";
}
.XO-text-justify:before {
  content: "\e9ac";
}
.XO-text-left:before {
  content: "\e9ad";
}
.XO-text-right:before {
  content: "\e9ae";
}
.XO-text-size:before {
  content: "\e9af";
}
.XO-th-large:before {
  content: "\e9b0";
}
.XO-times:before {
  content: "\e9b1";
}
.XO-trash:before {
  content: "\e9b2";
}
.XO-trip:before {
  content: "\e9b3";
}
.XO-trip-plus:before {
  content: "\e9b4";
}
.XO-trip-times:before {
  content: "\e9b5";
}
.XO-twitter:before {
  content: "\e9b6";
}
.XO-underline:before {
  content: "\e9b7";
}
.XO-upload:before {
  content: "\e9b8";
}
.XO-utils:before {
  content: "\e9b9";
}
.XO-utils-plus:before {
  content: "\e9ba";
}
.XO-utils-times:before {
  content: "\e9bb";
}
.XO-wallet:before {
  content: "\e9bc";
}
.XO-wallet-plus:before {
  content: "\e9bd";
}
.XO-wallet-times:before {
  content: "\e9be";
}
.XO-wheel:before {
  content: "\e9bf";
}
.XO-wheel-plus:before {
  content: "\e9c0";
}
.XO-wheel-times:before {
  content: "\e9c1";
}
.XO-youtube:before {
  content: "\e9c2";
}
.XO-youtube-shield:before {
  content: "\e9c3";
}
